@model Employee

<div class="row">

    <div class="col-6 ">
        <form asp-action="Add" asp-controller="Employee">
            <div class="form-group">
                <label asp-for="@Model.Name" class="col-form-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.HiringDate" class="col-form-label"></label>
                <input asp-for="@Model.HiringDate" class="form-control" type="date" />
                <span asp-validation-for="@Model.HiringDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhoneBook" class="col-form-label"></label>
                <input asp-for="@Model.PhoneBook" class="form-control"  type="tel"/>
                <span asp-validation-for="@Model.PhoneBook" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <label asp-for="@Model.Salary" class="col-form-label"></label>
                <input asp-for="@Model.Salary" class="form-control" />
                <span asp-validation-for="@Model.Salary" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="@Model.Email" class="col-form-label"></label>
                <input asp-for="@Model.Email" class="form-control" type="email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>      
            <div class="form-group">
                <label asp-for="@Model.DepartmentId" class="col-form-label"></label>
                <input asp-for="@Model.DepartmentId" class="form-control" type="number" />
                <span asp-validation-for="@Model.DepartmentId" class="text-danger"></span>
            </div>       
            <div class="form-group">
                <label asp-for="@Model.ImageURL" class="col-form-label"></label>
                <input asp-for="@Model.ImageURL" class="form-control" type="text" />
                <span asp-validation-for="@Model.ImageURL" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="@Model.Address" class="col-form-label"></label>
                <input asp-for="@Model.Address" class="form-control" type="text" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>

            <br />
            <input type="submit" value="Add" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back to List</a>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}