@model List<UserInRoleViewModel>
@{
    ViewData["Title"]="AddOrRemove";
    var RoleId = ViewBag.RoleId;
}
<h2>Add Or Remove Users</h2>

<form class="my-3" asp-action="AddOrRemoveUsers" asp-route-roleId="@RoleId">

    @for (var i =0;i<Model.Count;i++)
    {
        <div class="form-group">
            <input asp-for="@Model[i].IsSeleceted" />
            <label asp-for="@Model[i].IsSeleceted">@Model[i].UserName</label>
        </div>

        <input asp-for="@Model[i].UserId" type="hidden" />
        <input asp-for="@Model[i].UserName" type="hidden" />

    }
    <div class="my-3">
        <input type="submit" value="Update" class="btn btn-success" />
        <a asp-action="Update" asp-controller="Role" asp-route-id="@RoleId" class="btn btn-light">Cancel</a>
    </div>
</form>

